---
import '@styles/global.css';
import { site } from '@data/site';

interface Props {
  title?: string;
  description?: string;
}

const { title, description = site.description } = Astro.props;
const pageTitle = title ? `${title} - ${site.title}` : site.title;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,400,0,0&family=Roboto:wght@300;400;500;700&display=swap"
    />
    <script>
      import '../scripts/material';
      import '../scripts/site';
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
